TELEGRAM_BOT_TOKEN=1234567890:replace_with_real_token
LEGAL_MARKER_DB_URL=https://github.com/laskaviymay/legal_marker/releases/latest/download/legal-marker-db.zip
LEGAL_MARKER_DB_DIR=./bot_runtime/db
LEGAL_MARKER_ADMIN_IDS=123456789
LEGAL_MARKER_POLL_TIMEOUT=20
